{% extends 'base.html' %}

{% block meta %}
    <title>Edit Product</title>
{% endblock meta %}

{% block content %}
<style>
    h1, p, table {
        font-family: 'poppins', sans-serif;
        text-align: center;
        margin: 0 auto;
    }

    .edit {
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        padding: 30px;
    }

    .form-container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background-color: #d8fdff;
        padding-top: 30;
        
    }

    label {
        display: inline-block;
        width: 100px; 
        text-align: left;
    }

    .form-control {
        width: calc(100% - 100px);
        padding: 10px;
        margin: 10px 0;
        border: 2px solid #3FCCD4;
        border-radius: 5px;
        background-color: rgba(63, 204, 212, 0.1);
        color: #000000;
    }

    .edit_btn {
        background-color: #3FCCD4;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
    }

    .title {
        font-weight: bold;
    }

</style>

<div class="edit">
    <h1><b>Edit Product</b></h2>
    
    <div class="form-container">
        <form method="POST">
            {% csrf_token %}
            <label for="name">Name</label>
            {{ form.name }}
            <br>
            <label for="amount">Amount</label>
            {{ form.amount }}
            <br>
            <label for="description">Description</label>
            {{ form.description }}
            <br><br>
            <input class="btn edit_btn" type="submit" value="Edit Product"/>
        </form>
    </div>
</div>

{% endblock %}
