{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}
<style>
    body {
        background-image: url('https://img.freepik.com/free-photo/top-view-table-full-food_23-2149209253.jpg?w=1800&t=st=1696390564~exp=1696391164~hmac=dadc5eb6c541c45e55772820a1c200911b8517cf564c55a2c62691fefec18105');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    .login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh; 
        text-align: center;

    }

    .title-row {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .login-fields {
        font-family: 'Poppins', sans-serif;
        background-color: #c8fcfe;
        padding: 20px;
        border-radius: 8px;
        margin-bottom: 20px;
        width: 325px;
        padding-inline: 30px;
    }

    .register-link {
        font-family: 'Poppins', sans-serif;
    }

    .login_btn {
        background-color: #3FCCD4;
        color: aliceblue;
    }

</style>

<div class="login">

    <div class="login-fields">
        <form method="POST" action="">
            {% csrf_token %}
            <table>

                <div class="title-row">
                    <h1><b>Login</b></h1>
                </div>

                <tr>
                    <td>Username</td>
                    <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
                </tr>
                        
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
                </tr>

                <tr>
                    <td></td>
                    <td><input class="btn login_btn" type="submit" value="Login"></td>
                </tr>
            </table>
        </form>

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}  

        <div class="register-link">
            Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a>
        </div>

    </div>

</div>

{% endblock content %}
