{% extends 'base.html' %}

{% block content %}
<style>
    h1,h2,h3,h4, h5, p, th, td, a, button {
        font-family: 'poppins', sans-serif;
    }

    button {
        display:inline-flex;
        height: 44px;
        padding: 4px, 16px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 12px;
        background-color: #3FCCD4;
        color: #fff;
        border-color: none;
        border: none;
    }

    .btn-delete {
        border-radius: 8 px;
    }

    .card {
        box-shadow: 1px 4px 5px #e7e7e7;
        border-color: #fcfcfc;
    }

    /* p {
        color: #3FCCD4;
    } */

    /* .center-table {
        border-collapse: collapse;
        margin: 0 auto;
        width: 80%;
        margin-top: 20px;
        border-radius: 20px;
        margin-bottom: 16px;
        border: 2px solid rgb(255, 255, 255);
    }

    th {
        background-color: #3FCCD4;
        color: #FFFFFF;
        border: 2px solid rgb(255, 255, 255);
        text-align: center;
    }

    td {
        background-color: rgba(63, 204, 212, 0.1);
        color: #000000;
        border: 2px solid rgb(255, 255, 255);
        text-align: center;
    } */

    /* table tr:last-child {
        background-color: rgba(63, 204, 212, 0.312);
        color: #000000;
        border: 2px solid rgb(255, 255, 255);
    } */

    .navbar {
        display: flex;
        justify-content: space-between;
        background-color: #bcf0f2; 
        padding: 10px 20px;
    }

    .navbar-brand {
        font-weight: 600;
    }

    .navbar-right {
        display: flex;
        align-items: center;
    }

    .navbar-right p {
        margin: 0 10px; 
    }

    .center-text {
        text-align: center;
        padding: 10px 20px;
    }

    a {
        text-decoration: none;
    }

    .center-content {
        text-align: center;
        margin-top: 20px;
    }

    .center-content button {
        margin-bottom: 10px;
    }
    
    .modal-title {
        font-family: 'poppins', sans-serif;
        font-weight: bold;
    }

    .btn-primary {
        font-family: 'poppins', sans-serif;
        background-color: #3FCCD4;
        border: none;
        border-radius: 12px;
        height: 38px;
    }

    .col-form-label {
        font-family: 'poppins', sans-serif;
    }

    .product-name {
        font-weight: bold;
        font-size: 24px;
    }
    
</style>

<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">WarGo</a>
    <div class="navbar-right">
        <p>{{ name }}</p>
        <p>{{ class }}</p>
        <a href="{% url 'main:logout' %}">
            <button>
                Logout
            </button>
        </a>
    </div>
</nav>

<card class="product-cards" id="product_cards"></card>

<div class="container">
    <div class="row">
        <h1 class="center-text">Product List</h1>
            <div class="row">

                {% for product in products %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <p class="product-name">{{product.name}}</p>
                            <p class="product-description">{{product.description}}</p>
                            <p class="product-amount">Amount: {{product.amount}}</p>
                            <a href="{% url 'main:edit_product' product.pk %}" class="btn btn-primary">Edit</a>
                            <button type="button" class="btn btn-primary" onclick="deleteProduct({{ product.pk }})">Delete</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="col-form-label">Amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
            </div>
        </div>
    </div>
</div>

<div class="center-content">
    <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product</button>
    <br />
    <a>Sesi terakhir login: {{ last_login }}</a>
</div>

</br>

<script>
    async function getProducts() {
        return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
    }

    async function refreshProducts() {
        document.getElementById("products-card").innerHTML = ""
        const products = await getProducts()
        let htmlString = `<tr>
            <th>Name</th>
            <th>Description</th>
            <th>Amount</th>
        </tr>`
        
        products.forEach((product) => {
            console.log(product)
            htmlString += `\n<tr>
            <td>${product.fields.name}</td>
            <td>${product.fields.description}</td>
            <td>${product.fields.amount}</td>
            <td>

            <a href="edit-product/${product.pk}">
                <button>
                    Edit
                </button>
            </a>

            </td>
        </tr>`
        })

        document.getElementById("button_add").innerHTML = htmlString
    }

    refreshProducts()

    function addProduct() {
        fetch("{% url 'main:add_product_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProducts)

        document.getElementById("form").reset()
        return false
    }

    function deleteProduct(pk) {
        fetch(`/delete_product_ajax/${pk}`, {
            method: 'DELETE',
        }).then(refreshProducts);
        alert("Product has been deleted");
    }
    
    document.getElementById("button_add").onclick = addProduct

</script>
{% endblock content %}
